.productSlider {
  position: relative;
  margin-bottom:3rem;
  .swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    .swiper-wrapper {
      display:flex;
    }
  }
  .swiper-button-prev {
    left: -44px;
    color: #65657c;
  }

  .swiper-button-next {
    right: -44px;
    color: #65657c;
  }
  .swiper-slide {
    img {
      max-height: 223px;
      max-width:269px;
    }
    & > div{
      &:nth-of-type(1) {
        display:flex;
        flex-direction:column;
        align-items:center;
        h3 {
          margin:0;
          width:100%;
          text-align:center;
          overflow: hidden;
          text-overflow: clip;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }

  }

  @media only screen and(max-width: 1024px) {
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
  }
}
.tabbedSliderContainer {
  .sliderHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 2rem;
    margin-bottom: 20px;

    h3 {
      margin: 0;
      cursor: pointer;
      border-bottom:2px solid white;
      &.active {
        border-bottom: 2px solid #65657c;
      }
    }
  }
  .tabbedSliders {
    .productSlider {
      &.invisible {
        height:0;
        overflow:hidden;
      }
    }
  }
}

