#wcOrderStatusFlowForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: flex;
    gap: 0.5rem;

    h2 {
      min-width: 50px;
      text-transform: uppercase;
    }
  }
  button[type=submit] {
    width: 10%;
  }
}