#megaMenu {
  @media only screen and (min-width:1025px) {
    padding: 0.5rem;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
    .secondLevelItem,
    .thirdLevelItem {
      &> a {
        display:flex;
        flex-direction: column;
      }
    }
    img {
      width: 200px;
      border-radius: 0;
      height: 70px;
      object-fit: contain;
    }
  }
  @media only screen and (max-width:1024px) {
    img {
      display:none;
    }
  }
  @media only screen and (width:1024px) {
    .firstLevel {
      max-height:50vh;
      overflow:scroll !important;
    }
  }
  @media only screen and (min-width:1024px) {
      &:hover {
        #megaMenuHeading {
          #firstLevelArrow {
            svg {
              transform: rotate(-180deg);
            }
          }
        }

        .firstLevel {
          transform: scale(1);
        }
      }
  }
  svg {
    width: 24px;
    color: inherit;
    pointer-events: none;
  }
  #megaMenuHeading {
    @media only screen and (min-width:1025px) {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 36px 0 28px;
      #firstLevelArrow {
        position:absolute;
        right:0;
        display:flex;
        svg {
          position:unset;
        }
      }
    }
    @media only screen and (max-width:1024px) {
      display: flex;
      justify-content: space-between;
    }
    span {
      color:white;
      font-weight:bold;
    }
    svg {
      position: absolute;
      color:white;
      transition: 0.3s ease all;
      &:nth-of-type(1) {
        @media only screen and (max-width:1024px) {
          display:none;
        }
      left:0;
      }
      &:nth-of-type(2) {
        right: 0;
      }
    }
    @media only screen and (max-width:1024px) {
      #firstLevelArrow {
        transition: 0.3s ease all;
        svg {
          display:block;
          position:unset;
          transform:rotate(-90deg);
        }
        &.expand {
          transform:rotate(90deg);
        }
      }
    }
  }
  .firstLevel {
    transform-origin: top left;
    @media only screen and (width:1024px) {
      .firstLevelItem {
        position:unset;
        a {
          outline:none;
        }
      }
    }
    @media only screen and (min-width:1025px) {
      transform:scale(0);
      position: absolute;
      bottom: 0;
      left: 0;
      background:white;
      outline:1px solid white;
    }
    @media only screen and (max-width:1024px) {
      &.expand {
        height:auto;
        float:unset;
        position:unset;
        .firstLevelItem {
          a {
            outline:none;
          }
        }
        @media only screen and (width:1024px) {
          position:absolute;
          left:0;
          background:#65657c;
          .firstLevelItem {
            a {
              color:white;
              outline:none;
              svg {
                color:white;
              }
            }
          }
        }
      }
      height:0;
      overflow:hidden;
      .firstLevelItem {
        .secondLevel {
          @media only screen and (width:1024px) {
            width:100%;
            &.expand {
              position:unset;
            }
          }
          .secondLevelItem {
            a {
              outline:none;
            }
            @media only screen and (width:1024px) {
              position:unset;
            }
            .thirdLevel {
              height:0;
              overflow:hidden;
              @media only screen and (width:1024px) {
                position:unset;
              }
              &.expand {
                height:auto;
                overflow:unset;
              }
              .thirdLevelItem {
                @media only screen and (width:1024px) {
                  padding-left:1rem;
                }
                a {
                  padding:0.5rem 0;
                  outline:none;
                }
              }
            }
          }
        }
      }
    }
    width:100%;
    height:max-content;
    transition:0.3s ease all;
    .firstLevelItem {
      border-bottom:1px solid rgba(129,129,129,.15);
      padding-top:0.5rem;
      padding-bottom:0.5rem;
      margin:0;
      a {
        text-transform:uppercase;
      }
      @media only screen and (min-width:1025px) {
        &:hover {
          background:#F9F9F9;
          a {
            color:inherit;
          }
          svg {
            transition:0.3s ease all;
            transform:rotate3d(0,1,0,180deg);
          }
          .secondLevel {
            background:white;
            left: 100%;
            top: 0;
            float:unset;
            display:flex;
            gap:1rem;
            flex-wrap:wrap;
            outline: 2px solid rgba(129,129,129,.15);
            padding:0.5rem;
            overflow-y:auto;
            max-height:50vh;
            width:615px;
            .secondLevelItem {
              flex: 0 0 180px;
              a {
                text-transform: uppercase;
                &:hover {
                  color:#65657c;
                }
              }
            }
            .thirdLevel {
              position:unset;
              float:unset;
              border-bottom:1px solid gray;
              .thirdLevelItem {
                a {
                  font-weight:normal;
                  padding-top:0.3rem;
                  padding-bottom:0.3rem;
                  text-transform:unset;
                  &:hover {
                    color:#65657c;
                  }
                }
              }
            }
          }
        }
      }
      a {
        font-weight:bold;
        display: flex;
        justify-content: space-between;
        width: 100%;
        svg {
          width:18px;
        }
      }
      @media only screen and (max-width:1024px) {
        a {
          .arrow {
            display:flex;
            transition: 0.3s ease all;
            &.expand {
              transform:rotate(90deg);
            }
          }
        }
        .secondLevel {
          height:0;
          overflow:hidden;
          &.expand {
            height:auto;
            overflow:unset;
          }
        }
      }
    }
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.arrowMobile {
  @media only screen and (min-width:1025px) {
    display:none;
  }
}