#content {
  #controlButtonsWrapper {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    button {
      color:white;
      box-shadow:rgba(50, 50, 93, 25%) 0 30px 60px -12px inset,
      rgba(0, 0, 0, 30%) 0 18px 36px -18px inset
    }
    #createRow {
      background-color: green;
    }
    #controlButtonsHidden {
      display: flex;
      gap: 1rem;
      &.hidden {
        display:none;
      }
      #deleteRow {
        background:#d9534f;
      }
      #editRow {
        background:lightblue;
      }
    }
  }
  #filterContainer {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    margin-bottom: 1rem;
    .filterWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #crudTable {
    width: 70%;
    border-collapse: collapse;
    #tableData {
      position:relative;
      .tableMessage {
        position:absolute;
        width:100%;
        text-align:center;
      }
    }
    td, th {
      padding: 10px;
      text-align: left;
      max-width: 60px;
    }

    tr {
      border: 1px solid gray;
      cursor:pointer;
      &:nth-of-type(2n) {
        background: white;
      }
      &.activeRow {
        color:white;
        background:green;
      }
    }
    #search {
      width: 250px;
      display: block;
      margin-left: auto;
    }
    .activePagination {
      background:lightblue;
    }
    .tablePagination {
      display:flex;
      justify-content:center;
    }
  }
  #tableHead {
    display: flex;
    justify-content:space-between;
  }
  #crudModal {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
    display: flex;
    gap:1rem;
    padding: 1rem;
    flex-direction: column;
    width: 450px;
    height: 500px;
    overflow-y: auto;
    label {
      display:flex;
      flex-direction:column;
      gap:0.5rem;
    }
    button {
      width: max-content;
      margin: 0 auto;
    }
  }
  #modalOverlay {
    width: calc(100% + 20px);
    height: 100vh;
    position: fixed;
    background: black;
    top: 0;
    left:-20px;
    opacity: 0.4;
  }
}