#content{
  #featureList {
    min-width: 40%;
    border-collapse: collapse;
    tr, td {
      border: 1px solid black;
    }

    td, th {
      padding: 10px;
    }
    tr {
      td {
        &:last-child {
          div{
            display: flex;
            justify-content: center;
            gap: 1rem;
            button {
              padding: 0.3rem 0.5rem;
              cursor:pointer;
            }
          }
        }
      }
    }
    .activateFeature {
      background-color: #00a32a;
      color: white;
    }
    .deactivateFeature{
      background-color: #d9534f;
      color: white;
    }
    .cleanUpFeature {
      background-color:#eed202;
      color:black;
    }
    .active{
      background:rgba(0,163,42,0.4);
    }
    .disabled {
      background-color:lightgray;
    }
  }
}