#mainWrapper {
  display: flex;
  gap: 50px;
  .tabs{
    min-width:250px;
  }
  #content{
    flex:1;
  }
}
#syncWithConfig {
  display: block;
  margin-bottom: 10px;
}
nav {
  ul {
    display: flex;
    flex-direction: column;
    margin:0;
    li {
      cursor: pointer;
    }
  }

  .tab {
    background-color: green;
    padding: 0.5rem 1rem;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .active {
    background-color: #00a32a;
  }
}

#loader {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid green;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index:999;
  opacity:1;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

#noticeContainer {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0.5rem 0;
  min-height:50px;
  span {
    background: #d3d3d3;
    padding: 1rem;
    width: 30%;
    display: block;
    margin: 0 auto;
  }
}
.error {
  color:red;
}
.success {
  color:green;
}