#filterForm {
  .price_slider_amount > .button {
    display: none;
  }

  .attributeGroup {
    h4 {
      border-bottom: 1px solid #eaeaea;
    }

    ul {
      margin-bottom: 1rem !important;

      li {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
    }
  }
  #slider-range {
    height:8px;
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
  .ui-slider-handle {
    height:16px !important;
    width:16px !important;
    border-radius:50% !important;
    background:#65657c !important;
  }
  .ui-slider-handle.ui-state-active {
    border:1px solid #ccc;
  }
  #min_price,
  #max_price {
    border:1px solid #65657c;
    &:focus {
      border:1px solid #65657c;
      outline:1px solid #65657c;
    }
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .ui-slider-range.ui-corner-all.ui-widget-header {
    background:#65657c !important;
  }
  .advancedFiltersSubmit {
    color:white !important;
  }
  .currency {
    font-size:12px;
  }
}



