#priceMarginContainer {
  .filterWrapper {
    margin-bottom:1rem;
    label {
      display:flex;
      flex-direction:column;
      gap:0.5rem;
    }
  }
  #marginForm {
    .defaultMargin {
      width:100px;
    }
  }
  #feedMarginPriceList {
    width:700px;
    .ui-state-active {
      border: 1px solid #1d2327;
      background: #1d2327;
    }
    h2,h3,h4,h5 {
      display:flex;
      align-items:center;
      .setMarginsButton {
        margin-left:auto;
        width:24px;
        color:green;
      }
    }
    .setMarginsModal {
      label,
      h1,h2,h3,h4,h5,h6,
      span {
        color:black;
      }
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      position: fixed;
      top: 0;
      width: 700px;
      height: 500px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 10;
      background:white;
      &> h4 {
        font-size:1.5rem;
        margin:0;
        color:black;
      }
      .closeFeedModal {
        color:red;
        width:24px;
        position:absolute;
        top:10px;
        right:10px;
      }
      input,
      select {
        width:100px;
      }
      label {
        margin-right:1rem;
      }
      .removeFeedPriceMargin {
        width:24px;
        color:red;
        margin-left:auto;
      }
      &>div {
        border-bottom:2px solid #bbb;
        padding-bottom:1rem;
        display: flex;
        align-items: center;
      }
      .closeFeedModal {
        border-bottom:none;
        padding:0;
      }
    }
    svg {
      pointer-events: none;
    }
    .thirdLevelIem {
      h5 {
        padding: 0.2rem 0.4rem;
        margin: 0;
        border: 1px solid #1d2327;
        font-size: 12px;
        position: relative;
      }
    }
  }
}
