.addToWishlistLoop {
  position:absolute !important;
  right:20px;
  top:5px;
  cursor:pointer;
  &:hover {
    svg {
      color:green;
    }
  }
  svg {
    width:24px;
    pointer-events:none;
  }
}

.addToWishlistSingleProduct {
  margin-top:1rem;
  display:flex;
  cursor:pointer;
  &:hover {
      color:green;
  }
  svg {
    width:24px;
    pointer-events:none;
  }
}

#wishlistProductsContainer {
  display:flex;
  gap:1.5rem;
  flex-wrap:wrap;
  .wishlistProduct {
    max-width:300px;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    gap:0.5rem;
    a {
      &:nth-of-type(2){
        width:100%;
      }
    }
    .wishlistTitle {
      margin:0;
      width:100%;
      text-align:center;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .wishlistRating {
      height:19px;
    }
    .deleteFromWishlist {
      position:absolute;
      right:5px;
      top:5px;
      color:red;
      cursor:pointer;
      svg {
        pointer-events:none;
        width:24px;
      }
    }
  }
}