.addToWishlistLoop {
  position: absolute !important;
  right: 20px;
  top: 5px;
  cursor: pointer; }
  .addToWishlistLoop:hover svg {
    color: green; }
  .addToWishlistLoop svg {
    width: 24px;
    pointer-events: none; }

.addToWishlistSingleProduct {
  margin-top: 1rem;
  display: flex;
  cursor: pointer; }
  .addToWishlistSingleProduct:hover {
    color: green; }
  .addToWishlistSingleProduct svg {
    width: 24px;
    pointer-events: none; }

#wishlistProductsContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap; }
  #wishlistProductsContainer .wishlistProduct {
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem; }
    #wishlistProductsContainer .wishlistProduct a:nth-of-type(2) {
      width: 100%; }
    #wishlistProductsContainer .wishlistProduct .wishlistTitle {
      margin: 0;
      width: 100%;
      text-align: center;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical; }
    #wishlistProductsContainer .wishlistProduct .wishlistRating {
      height: 19px; }
    #wishlistProductsContainer .wishlistProduct .deleteFromWishlist {
      position: absolute;
      right: 5px;
      top: 5px;
      color: red;
      cursor: pointer; }
      #wishlistProductsContainer .wishlistProduct .deleteFromWishlist svg {
        pointer-events: none;
        width: 24px; }

.productSlider {
  position: relative;
  margin-bottom: 3rem; }
  .productSlider .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; }
    .productSlider .swiper-container .swiper-wrapper {
      display: flex; }
  .productSlider .swiper-button-prev {
    left: -44px;
    color: #65657c; }
  .productSlider .swiper-button-next {
    right: -44px;
    color: #65657c; }
  .productSlider .swiper-slide img {
    max-height: 223px;
    max-width: 269px; }
  .productSlider .swiper-slide > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .productSlider .swiper-slide > div:nth-of-type(1) h3 {
      margin: 0;
      width: 100%;
      text-align: center;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical; }
  @media only screen and (max-width: 1024px) {
    .productSlider .swiper-button-prev {
      display: none; }
    .productSlider .swiper-button-next {
      display: none; } }

.tabbedSliderContainer .sliderHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 20px; }
  .tabbedSliderContainer .sliderHeading h3 {
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid white; }
    .tabbedSliderContainer .sliderHeading h3.active {
      border-bottom: 2px solid #65657c; }
.tabbedSliderContainer .tabbedSliders .productSlider.invisible {
  height: 0;
  overflow: hidden; }

@media only screen and (min-width: 1025px) {
  #megaMenu {
    padding: 0.5rem;
    border: 1px solid white;
    position: relative;
    cursor: pointer; }
    #megaMenu .secondLevelItem > a,
    #megaMenu .thirdLevelItem > a {
      display: flex;
      flex-direction: column; }
    #megaMenu img {
      width: 200px;
      border-radius: 0;
      height: 70px;
      object-fit: contain; } }
@media only screen and (max-width: 1024px) {
  #megaMenu img {
    display: none; } }
@media only screen and (width: 1024px) {
  #megaMenu .firstLevel {
    max-height: 50vh;
    overflow: scroll !important; } }
@media only screen and (min-width: 1024px) {
  #megaMenu:hover #megaMenuHeading #firstLevelArrow svg {
    transform: rotate(-180deg); }
  #megaMenu:hover .firstLevel {
    transform: scale(1); } }
#megaMenu svg {
  width: 24px;
  color: inherit;
  pointer-events: none; }
@media only screen and (min-width: 1025px) {
  #megaMenu #megaMenuHeading {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 36px 0 28px; }
    #megaMenu #megaMenuHeading #firstLevelArrow {
      position: absolute;
      right: 0;
      display: flex; }
      #megaMenu #megaMenuHeading #firstLevelArrow svg {
        position: unset; } }
@media only screen and (max-width: 1024px) {
  #megaMenu #megaMenuHeading {
    display: flex;
    justify-content: space-between; } }
#megaMenu #megaMenuHeading span {
  color: white;
  font-weight: bold; }
#megaMenu #megaMenuHeading svg {
  position: absolute;
  color: white;
  transition: 0.3s ease all; }
  #megaMenu #megaMenuHeading svg:nth-of-type(1) {
    left: 0; }
    @media only screen and (max-width: 1024px) {
      #megaMenu #megaMenuHeading svg:nth-of-type(1) {
        display: none; } }
  #megaMenu #megaMenuHeading svg:nth-of-type(2) {
    right: 0; }
@media only screen and (max-width: 1024px) {
  #megaMenu #megaMenuHeading #firstLevelArrow {
    transition: 0.3s ease all; }
    #megaMenu #megaMenuHeading #firstLevelArrow svg {
      display: block;
      position: unset;
      transform: rotate(-90deg); }
    #megaMenu #megaMenuHeading #firstLevelArrow.expand {
      transform: rotate(90deg); } }
#megaMenu .firstLevel {
  transform-origin: top left;
  width: 100%;
  height: max-content;
  transition: 0.3s ease all; }
  @media only screen and (width: 1024px) {
    #megaMenu .firstLevel .firstLevelItem {
      position: unset; }
      #megaMenu .firstLevel .firstLevelItem a {
        outline: none; } }
  @media only screen and (min-width: 1025px) {
    #megaMenu .firstLevel {
      transform: scale(0);
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      outline: 1px solid white; } }
  @media only screen and (max-width: 1024px) {
    #megaMenu .firstLevel {
      height: 0;
      overflow: hidden; }
      #megaMenu .firstLevel.expand {
        height: auto;
        float: unset;
        position: unset; }
        #megaMenu .firstLevel.expand .firstLevelItem a {
          outline: none; } }
    @media only screen and (max-width: 1024px) and (width: 1024px) {
      #megaMenu .firstLevel.expand {
        position: absolute;
        left: 0;
        background: #65657c; }
        #megaMenu .firstLevel.expand .firstLevelItem a {
          color: white;
          outline: none; }
          #megaMenu .firstLevel.expand .firstLevelItem a svg {
            color: white; } }
  @media only screen and (max-width: 1024px) and (width: 1024px) {
    #megaMenu .firstLevel .firstLevelItem .secondLevel {
      width: 100%; }
      #megaMenu .firstLevel .firstLevelItem .secondLevel.expand {
        position: unset; } }
  @media only screen and (max-width: 1024px) {
      #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem a {
        outline: none; } }
  @media only screen and (max-width: 1024px) and (width: 1024px) {
    #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem {
      position: unset; } }
  @media only screen and (max-width: 1024px) {
      #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem .thirdLevel {
        height: 0;
        overflow: hidden; } }
    @media only screen and (max-width: 1024px) and (width: 1024px) {
      #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem .thirdLevel {
        position: unset; } }
  @media only screen and (max-width: 1024px) {
        #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem .thirdLevel.expand {
          height: auto;
          overflow: unset; } }
    @media only screen and (max-width: 1024px) and (width: 1024px) {
      #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem .thirdLevel .thirdLevelItem {
        padding-left: 1rem; } }
  @media only screen and (max-width: 1024px) {
        #megaMenu .firstLevel .firstLevelItem .secondLevel .secondLevelItem .thirdLevel .thirdLevelItem a {
          padding: 0.5rem 0;
          outline: none; } }
  #megaMenu .firstLevel .firstLevelItem {
    border-bottom: 1px solid rgba(129, 129, 129, 0.15);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }
    #megaMenu .firstLevel .firstLevelItem a {
      text-transform: uppercase; }
    @media only screen and (min-width: 1025px) {
      #megaMenu .firstLevel .firstLevelItem:hover {
        background: #F9F9F9; }
        #megaMenu .firstLevel .firstLevelItem:hover a {
          color: inherit; }
        #megaMenu .firstLevel .firstLevelItem:hover svg {
          transition: 0.3s ease all;
          transform: rotate3d(0, 1, 0, 180deg); }
        #megaMenu .firstLevel .firstLevelItem:hover .secondLevel {
          background: white;
          left: 100%;
          top: 0;
          float: unset;
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          outline: 2px solid rgba(129, 129, 129, 0.15);
          padding: 0.5rem;
          overflow-y: auto;
          max-height: 50vh;
          width: 615px; }
          #megaMenu .firstLevel .firstLevelItem:hover .secondLevel .secondLevelItem {
            flex: 0 0 180px; }
            #megaMenu .firstLevel .firstLevelItem:hover .secondLevel .secondLevelItem a {
              text-transform: uppercase; }
              #megaMenu .firstLevel .firstLevelItem:hover .secondLevel .secondLevelItem a:hover {
                color: #65657c; }
          #megaMenu .firstLevel .firstLevelItem:hover .secondLevel .thirdLevel {
            position: unset;
            float: unset;
            border-bottom: 1px solid gray; }
            #megaMenu .firstLevel .firstLevelItem:hover .secondLevel .thirdLevel .thirdLevelItem a {
              font-weight: normal;
              padding-top: 0.3rem;
              padding-bottom: 0.3rem;
              text-transform: unset; }
              #megaMenu .firstLevel .firstLevelItem:hover .secondLevel .thirdLevel .thirdLevelItem a:hover {
                color: #65657c; } }
    #megaMenu .firstLevel .firstLevelItem a {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #megaMenu .firstLevel .firstLevelItem a svg {
        width: 18px; }
    @media only screen and (max-width: 1024px) {
      #megaMenu .firstLevel .firstLevelItem a .arrow {
        display: flex;
        transition: 0.3s ease all; }
        #megaMenu .firstLevel .firstLevelItem a .arrow.expand {
          transform: rotate(90deg); }
      #megaMenu .firstLevel .firstLevelItem .secondLevel {
        height: 0;
        overflow: hidden; }
        #megaMenu .firstLevel .firstLevelItem .secondLevel.expand {
          height: auto;
          overflow: unset; } }

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg); } }
@media only screen and (min-width: 1025px) {
  .arrowMobile {
    display: none; } }

.compareMenuSvg {
  stroke: none !important; }

#compareMenuItem {
  position: relative;
  padding-top: 35px;
  cursor: pointer;
  font-size: 14px; }

#compareOverlay {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  width: 0; }
  #compareOverlay.showOverlay {
    width: 100vw; }
  #compareOverlay #compareModal {
    overflow: hidden;
    position: fixed;
    white-space: nowrap;
    top: 0;
    transition: 0.3s ease right;
    background: white;
    z-index: 999;
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -12px 2px 15px -9px rgba(0, 0, 0, 0.52);
    box-shadow: -12px 2px 15px -9px rgba(0, 0, 0, 0.52); }
    @media only screen and (min-width: 1025px) {
      #compareOverlay #compareModal {
        width: 400px;
        right: -450px; } }
    @media only screen and (max-width: 1024px) {
      #compareOverlay #compareModal {
        width: 100%;
        right: -120%; } }
    #compareOverlay #compareModal.showModal {
      overflow-y: auto;
      right: 0; }
    #compareOverlay #compareModal #compareTop {
      background: #65657c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem; }
      #compareOverlay #compareModal #compareTop h2 {
        color: white;
        margin: 0; }
      #compareOverlay #compareModal #compareTop #closeCompareModal {
        display: flex;
        cursor: pointer; }
        #compareOverlay #compareModal #compareTop #closeCompareModal svg {
          width: 28px;
          color: white;
          pointer-events: none; }
    #compareOverlay #compareModal #compareContentProducts {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      #compareOverlay #compareModal #compareContentProducts .compareProductEntity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; }
        #compareOverlay #compareModal #compareContentProducts .compareProductEntity a {
          width: 150px; }
        #compareOverlay #compareModal #compareContentProducts .compareProductEntity h3 {
          white-space: break-spaces;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size: 18px;
          text-align: center;
          width: 300px; }
          #compareOverlay #compareModal #compareContentProducts .compareProductEntity h3 a {
            color: inherit; }
        #compareOverlay #compareModal #compareContentProducts .compareProductEntity .removeProduct {
          position: absolute;
          top: 7px;
          right: 10px;
          cursor: pointer;
          color: red; }
          #compareOverlay #compareModal #compareContentProducts .compareProductEntity .removeProduct svg {
            pointer-events: none;
            width: 24px; }
    #compareOverlay #compareModal #compareBottom {
      padding: 0 1rem 1rem 1rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
      flex: 1;
      justify-content: flex-end; }
    #compareOverlay #compareModal #limitReachedTitle {
      white-space: normal;
      text-align: center;
      font-size: 18px;
      color: red;
      padding: 0 0.5rem;
      display: none; }
      #compareOverlay #compareModal #limitReachedTitle.shown {
        display: block; }
  #compareOverlay .productContentContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem; }
    @media only screen and (min-width: 1025px) {
      #compareOverlay .productContentContainer {
        max-width: 240px;
        flex: 1; } }
    @media only screen and (max-width: 1024px) {
      #compareOverlay .productContentContainer {
        width: 90%;
        border-bottom: 1px solid #65657c; } }
    #compareOverlay .productContentContainer .compareProductDescription {
      height: 100%; }
      @media only screen and (min-width: 1025px) {
        #compareOverlay .productContentContainer .compareProductDescription {
          min-height: 103px; } }
      #compareOverlay .productContentContainer .compareProductDescription ul li {
        text-align: left; }
  #compareOverlay #compareProductsWindow {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    background: white;
    width: 800px;
    overflow-y: auto;
    height: max-content; }
    #compareOverlay #compareProductsWindow.shown {
      display: block; }
    @media only screen and (min-width: 1025px) {
      #compareOverlay #compareProductsWindow {
        max-height: 700px;
        width: 900px; } }
    @media only screen and (max-width: 1024px) {
      #compareOverlay #compareProductsWindow {
        width: 100%;
        height: 100%; } }
    #compareOverlay #compareProductsWindow #compareProductsContent {
      display: flex; }
      @media only screen and (max-width: 1024px) {
        #compareOverlay #compareProductsWindow #compareProductsContent {
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          text-align: center; } }
      #compareOverlay #compareProductsWindow #compareProductsContent p {
        margin: 0 !important; }
      #compareOverlay #compareProductsWindow #compareProductsContent #tableHead {
        background: #65657c;
        color: white;
        padding: 2rem;
        margin-right: 1rem; }
        @media only screen and (max-width: 1024px) {
          #compareOverlay #compareProductsWindow #compareProductsContent #tableHead {
            display: none; } }
        #compareOverlay #compareProductsWindow #compareProductsContent #tableHead p:nth-of-type(1) {
          height: 230px;
          font-weight: bold; }
        #compareOverlay #compareProductsWindow #compareProductsContent #tableHead p:nth-of-type(2) {
          margin-top: 3rem !important;
          height: 30px;
          font-weight: bold; }
        #compareOverlay #compareProductsWindow #compareProductsContent #tableHead p:nth-of-type(3) {
          margin-top: 3rem !important;
          font-weight: bold; }
      #compareOverlay #compareProductsWindow #compareProductsContent h2 {
        margin: 0 !important;
        height: 80px; }
      #compareOverlay #compareProductsWindow #compareProductsContent .compareProductTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 18px;
        color: #65657c;
        max-width: 200px; }
        @media only screen and (max-width: 1024px) {
          #compareOverlay #compareProductsWindow #compareProductsContent .compareProductTitle {
            max-width: unset; } }
      #compareOverlay #compareProductsWindow #compareProductsContent .compareProductPrice {
        height: 30px; }
      #compareOverlay #compareProductsWindow #compareProductsContent img {
        height: 150px; }
        @media only screen and (max-width: 1024px) {
          #compareOverlay #compareProductsWindow #compareProductsContent img {
            margin: 0 auto; } }
    #compareOverlay #compareProductsWindow #closeCompareProductsWindow {
      position: absolute;
      top: 7px;
      right: 10px;
      cursor: pointer; }
      #compareOverlay #compareProductsWindow #closeCompareProductsWindow svg {
        color: black;
        pointer-events: none;
        width: 24px; }

.compareProductLoop {
  position: absolute !important;
  right: 20px;
  top: 40px;
  cursor: pointer; }
  .compareProductLoop:hover svg path {
    fill: #1877f2; }
  .compareProductLoop:hover svg.noHover path {
    fill: none; }
  .compareProductLoop:hover svg.checkmarkCompare path {
    fill: none; }
  .compareProductLoop svg {
    width: 24px;
    pointer-events: none; }

.compareProductSinglePage {
  margin-top: 1rem;
  display: flex;
  cursor: pointer; }
  .compareProductSinglePage:hover {
    color: #1877f2; }
    .compareProductSinglePage:hover svg path {
      fill: #1877f2; }
    .compareProductSinglePage:hover svg.noHover path {
      fill: none; }
    .compareProductSinglePage:hover svg.checkmarkCompare path {
      fill: none; }
  .compareProductSinglePage svg {
    width: 24px;
    pointer-events: none; }

.checkmarkCompare {
  color: #1877f2; }

#filterForm .price_slider_amount > .button {
  display: none; }
#filterForm .attributeGroup h4 {
  border-bottom: 1px solid #eaeaea; }
#filterForm .attributeGroup ul {
  margin-bottom: 1rem !important; }
  #filterForm .attributeGroup ul li {
    display: flex;
    align-items: center;
    gap: 0.3rem; }
#filterForm #slider-range {
  height: 8px; }
  #filterForm #slider-range input[type=number] {
    -moz-appearance: textfield; }
#filterForm .ui-slider-handle {
  height: 16px !important;
  width: 16px !important;
  border-radius: 50% !important;
  background: #65657c !important; }
#filterForm .ui-slider-handle.ui-state-active {
  border: 1px solid #ccc; }
#filterForm #min_price,
#filterForm #max_price {
  border: 1px solid #65657c; }
  #filterForm #min_price:focus,
  #filterForm #max_price:focus {
    border: 1px solid #65657c;
    outline: 1px solid #65657c; }
  #filterForm #min_price::-webkit-outer-spin-button,
  #filterForm #max_price::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #filterForm #min_price::-webkit-inner-spin-button,
  #filterForm #max_price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
#filterForm .ui-slider-range.ui-corner-all.ui-widget-header {
  background: #65657c !important; }
#filterForm .advancedFiltersSubmit {
  color: white !important; }
#filterForm .currency {
  font-size: 12px; }

.bannerSliderContainer {
  overflow: hidden;
  max-width: 970px;
  margin: 0 auto; }
  .bannerSliderContainer .bannerFlexContainer {
    display: flex;
    transition: 0.3s ease all; }
    .bannerSliderContainer .bannerFlexContainer .bannerSliderImageContainer {
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .bannerSliderContainer .previousBannerSlider,
  .bannerSliderContainer .nextBannerSlider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content; }
    .bannerSliderContainer .previousBannerSlider svg,
    .bannerSliderContainer .nextBannerSlider svg {
      pointer-events: none;
      width: 30px; }
    @media only screen and (max-width: 768px) {
      .bannerSliderContainer .previousBannerSlider,
      .bannerSliderContainer .nextBannerSlider {
        display: none; } }
  .bannerSliderContainer .previousBannerSlider {
    left: 0; }
  .bannerSliderContainer .nextBannerSlider {
    right: 0; }
  .bannerSliderContainer #sliderDotsContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem; }
    .bannerSliderContainer #sliderDotsContainer .sliderDot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
      transition: 0.3s ease all; }
      @media only screen and (min-width: 769px) {
        .bannerSliderContainer #sliderDotsContainer .sliderDot:hover {
          background: rgba(0, 0, 0, 0.7); } }
      .bannerSliderContainer #sliderDotsContainer .sliderDot.active {
        background: rgba(0, 0, 0, 0.7); }

.gfLoader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  z-index: 999;
  opacity: 1; }
  .gfLoader.green {
    border-top: 5px solid green; }
  .gfLoader.blue {
    border-top: 5px solid #1877f2; }

.modalIsOpen {
  overflow: hidden; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
