@import '../../../src/Packages/Wishlist/assets/css/wishlist';
@import '../../../src/Packages/ProductSlider/assets/css/front/slider';
@import '../../../src/Packages/MegaMenu/assets/css/front/megaMenu';
@import '../../../src/Packages/Compare/assets/css/compare';
@import '../../../src/Packages/WcUtilityPack/css/wcUtilityPack';
@import '../../../src/Packages/BannerSlider/assets/css/bannerSlider';

.gfLoader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index:999;
  opacity:1;
  &.green {
    border-top: 5px solid green;
  }
  &.blue {
    border-top: 5px solid #1877f2;
  }
}

.modalIsOpen {
  overflow:hidden;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}