.bannerSliderContainer {
  overflow: hidden;
  max-width: 970px;
  margin: 0 auto;
  .bannerFlexContainer {
    display: flex;
    transition: 0.3s ease all;
    .bannerSliderImageContainer {
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content:center;
    }
  }
  .previousBannerSlider,
  .nextBannerSlider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;

    svg {
      pointer-events: none;
      width: 30px;
    }
    @media only screen and (max-width:768px) {
      display:none;
    }
  }

  .previousBannerSlider {
    left: 0;

  }

  .nextBannerSlider {
    right: 0;
  }
  #sliderDotsContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top:1rem;
    .sliderDot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      cursor:pointer;
      background: rgba(0,0,0,0.3);
      transition: 0.3s ease all;
      @media only screen and (min-width:769px) {
        &:hover {
          background: rgba(0,0,0,0.7);
        }
      }
      &.active {
        background: rgba(0,0,0,0.7);
      }
    }
  }
}