//@todo positioned beneath the add to wishlist button, handle the position when wishlist is not active
.compareMenuSvg {
  stroke:none !important;
}
#compareMenuItem {
  position: relative;
  padding-top: 35px;
  cursor:pointer;
  font-size: 14px;
}
#compareOverlay {
  position:fixed;
  top:0;
  height:100vh;
  z-index:99;
  background:rgba(0,0,0, 0.5);
  width:0;
  &.showOverlay {
    width:100vw;
  }
  #compareModal {
    overflow:hidden;
    position:fixed;
    white-space: nowrap;
    top:0;
    transition: 0.3s ease right;
    background:white;
    z-index:999;
    height:100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -12px 2px 15px -9px rgba(0,0,0,0.52);
    box-shadow: -12px 2px 15px -9px rgba(0,0,0,0.52);
    @media only screen and (min-width:1025px) {
      width:400px;
      right:-450px;
    }
    @media only screen and (max-width:1024px) {
      width:100%;
      right:-120%;
    }
    &.showModal {
      overflow-y:auto;
      right:0;
    }
    #compareTop {
      background:#65657c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      h2 {
        color:white;
        margin:0;
      }
      #closeCompareModal {
        display:flex;
        cursor:pointer;
        svg {
          width:28px;
          color:white;
          pointer-events: none;
        }
      }
    }
    #compareContentProducts {
      display:flex;
      flex-direction: column;
      gap:1rem;
      .compareProductEntity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        a {
          width:150px;
        }
        h3 {
          white-space: break-spaces;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size:18px;
          text-align: center;
          width:300px;
          a {
            color:inherit;
          }
        }
        .removeProduct {
          position: absolute;
          top: 7px;
          right: 10px;
          cursor: pointer;
          color: red;
          svg {
            pointer-events: none;
            width:24px;
          }
        }
      }
    }
    #compareBottom {
      padding: 0 1rem 1rem 1rem;
      margin-top:2rem;
      display:flex;
      flex-direction: column;
      width:100%;
      gap:1rem;
      flex: 1;
      justify-content: flex-end;
    }
    #limitReachedTitle {
      white-space: normal;
      text-align: center;
      font-size: 18px;
      color: red;
      padding: 0 0.5rem;
      display:none;
      &.shown {
        display:block;
      }
    }
  }
  .productContentContainer {
    display:flex;
    flex-direction: column;
    padding:2rem;
    gap:3rem;
    @media only screen and (min-width:1025px) {
      max-width:240px;
      flex: 1;
    }
    @media only screen and (max-width:1024px) {
      width:90%;
      border-bottom:1px solid #65657c;
    }
    .compareProductDescription {
      height:100%;
      @media only screen and (min-width:1025px) {
        min-height: 103px;
      }
      ul {
        li {
          text-align:left;
        }
      }
    }
  }
  #compareProductsWindow {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.3);
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display:none;
    background: white;
    width: 800px;
    overflow-y: auto;
    height:max-content;
    &.shown {
      display:block;
    }
    @media only screen and (min-width:1025px) {
      max-height:700px;
      width:900px;
    }
    @media only screen and (max-width:1024px) {
      width:100%;
      height:100%;
    }
    #compareProductsContent {
      display: flex;
      @media only screen and (max-width:1024px) {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      p {
        margin:0 !important;
      }
      #tableHead {
        @media only screen and (max-width:1024px) {
          display:none;
        }
        background: #65657c;
        color: white;
        padding: 2rem;
        margin-right: 1rem;
        p:nth-of-type(1) {
          height:230px;
          font-weight:bold;
        }
        p:nth-of-type(2) {
          margin-top:3rem !important;
          height:30px;
          font-weight:bold;
        }
        p:nth-of-type(3) {
          margin-top:3rem !important;
          font-weight:bold;
        }
      }
      h2 {
        margin:0 !important;
        height:80px;
      }
      .compareProductTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size:18px;
        color:#65657c;
        max-width:200px;
        @media only screen and (max-width:1024px) {
          max-width:unset;
        }
      }
      .compareProductPrice {
        height:30px;
      }
      img {
        height:150px;
        @media only screen and (max-width:1024px) {
          margin:0 auto;
        }
      }

    }
    #closeCompareProductsWindow {
      position:absolute;
      top:7px;
      right:10px;
      cursor:pointer;
      svg {
        color:black;
        pointer-events: none;
        width:24px;
      }
    }
  }
}

.compareProductLoop {
  position:absolute !important;
  right:20px;
  top:40px;
  cursor:pointer;
  &:hover {
    svg {
      path {
        fill: #1877f2;
      }
      &.noHover {
        path {
          fill:none;
        }
      }
      &.checkmarkCompare {
        path {
          fill: none;
        }
      }
    }
  }
  svg {
    width:24px;
    pointer-events:none;
  }
}

.compareProductSinglePage {
  margin-top:1rem;
  display:flex;
  cursor:pointer;
  &:hover {
    color:#1877f2;
    svg {
      path {
        fill: #1877f2;
      }
      &.noHover {
        path {
          fill:none;
        }
      }
      &.checkmarkCompare {
        path {
          fill: none;
        }
      }
    }
  }
  svg {
    width:24px;
    pointer-events:none;
  }
}
.checkmarkCompare {
  color:#1877f2;
}