/* Don't forget to bump css version when you make changes to this file
* it is located inside the MenuPage.php file in the function setupMainPage. Thank you <3
* */
#mainWrapper {
  display: flex;
  gap: 50px; }
  #mainWrapper .tabs {
    min-width: 250px; }
  #mainWrapper #content {
    flex: 1; }

#syncWithConfig {
  display: block;
  margin-bottom: 10px; }

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0; }
  nav ul li {
    cursor: pointer; }
nav .tab {
  background-color: green;
  padding: 0.5rem 1rem;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }
nav .active {
  background-color: #00a32a; }

#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid green;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  z-index: 999;
  opacity: 1; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#noticeContainer {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0.5rem 0;
  min-height: 50px; }
  #noticeContainer span {
    background: #d3d3d3;
    padding: 1rem;
    width: 30%;
    display: block;
    margin: 0 auto; }

.error {
  color: red; }

.success {
  color: green; }

#content #featureList {
  min-width: 40%;
  border-collapse: collapse; }
  #content #featureList tr, #content #featureList td {
    border: 1px solid black; }
  #content #featureList td, #content #featureList th {
    padding: 10px; }
  #content #featureList tr td:last-child div {
    display: flex;
    justify-content: center;
    gap: 1rem; }
    #content #featureList tr td:last-child div button {
      padding: 0.3rem 0.5rem;
      cursor: pointer; }
  #content #featureList .activateFeature {
    background-color: #00a32a;
    color: white; }
  #content #featureList .deactivateFeature {
    background-color: #d9534f;
    color: white; }
  #content #featureList .cleanUpFeature {
    background-color: #eed202;
    color: black; }
  #content #featureList .active {
    background: rgba(0, 163, 42, 0.4); }
  #content #featureList .disabled {
    background-color: lightgray; }

#content #controlButtonsWrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem 0; }
  #content #controlButtonsWrapper button {
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset; }
  #content #controlButtonsWrapper #createRow {
    background-color: green; }
  #content #controlButtonsWrapper #controlButtonsHidden {
    display: flex;
    gap: 1rem; }
    #content #controlButtonsWrapper #controlButtonsHidden.hidden {
      display: none; }
    #content #controlButtonsWrapper #controlButtonsHidden #deleteRow {
      background: #d9534f; }
    #content #controlButtonsWrapper #controlButtonsHidden #editRow {
      background: lightblue; }
#content #filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem; }
  #content #filterContainer .filterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
#content #crudTable {
  width: 70%;
  border-collapse: collapse; }
  #content #crudTable #tableData {
    position: relative; }
    #content #crudTable #tableData .tableMessage {
      position: absolute;
      width: 100%;
      text-align: center; }
  #content #crudTable td, #content #crudTable th {
    padding: 10px;
    text-align: left;
    max-width: 60px; }
  #content #crudTable tr {
    border: 1px solid gray;
    cursor: pointer; }
    #content #crudTable tr:nth-of-type(2n) {
      background: white; }
    #content #crudTable tr.activeRow {
      color: white;
      background: green; }
  #content #crudTable #search {
    width: 250px;
    display: block;
    margin-left: auto; }
  #content #crudTable .activePagination {
    background: lightblue; }
  #content #crudTable .tablePagination {
    display: flex;
    justify-content: center; }
#content #tableHead {
  display: flex;
  justify-content: space-between; }
#content #crudModal {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  width: 450px;
  height: 500px;
  overflow-y: auto; }
  #content #crudModal label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
  #content #crudModal button {
    width: max-content;
    margin: 0 auto; }
#content #modalOverlay {
  width: calc(100% + 20px);
  height: 100vh;
  position: fixed;
  background: black;
  top: 0;
  left: -20px;
  opacity: 0.4; }

#bankReportForm label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 5px; }

#content #crudModal #colorPickerButton {
  margin: 5px 0;
  display: block; }

#wcOrderStatusFlowForm {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  #wcOrderStatusFlowForm label {
    display: flex;
    gap: 0.5rem; }
    #wcOrderStatusFlowForm label h2 {
      min-width: 50px;
      text-transform: uppercase; }
  #wcOrderStatusFlowForm button[type=submit] {
    width: 10%; }

.searchContainer {
  max-width: 250px;
  position: relative; }
  .searchContainer .chevron::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    transform: rotate(135deg);
    vertical-align: top;
    width: 8px;
    right: 35px;
    top: 14px;
    pointer-events: none;
    color: green; }
  .searchContainer label {
    display: block;
    margin-bottom: 0.5rem; }
  .searchContainer input {
    border: 1px solid green;
    width: 98%; }
    .searchContainer input:focus {
      outline: none; }
  .searchContainer .nameInput {
    cursor: pointer; }
    .searchContainer .nameInput.focused {
      outline: 2px solid green; }
  .searchContainer #entitySearchInput {
    margin: 0.5rem 0; }
    .searchContainer #entitySearchInput:focus {
      border-color: green;
      outline-color: green; }
  .searchContainer #entityOptions {
    scrollbar-width: 7px;
    scrollbar-color: green;
    position: absolute;
    z-index: 1;
    background: white;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    outline: 1px solid green; }
    .searchContainer #entityOptions::-webkit-scrollbar {
      width: 7px; }
    .searchContainer #entityOptions::-webkit-scrollbar-track {
      background: white;
      /* color of the tracking area */ }
    .searchContainer #entityOptions::-webkit-scrollbar-thumb {
      background-color: green;
      /* color of the scroll thumb */
      border-radius: 1px;
      /* roundness of the scroll thumb */
      /* border: 1px solid #000066;  */
      /* creates padding around scroll thumb */ }
    .searchContainer #entityOptions .entityOption {
      padding: 0.5rem;
      cursor: pointer; }
      .searchContainer #entityOptions .entityOption:hover {
        background-color: green;
        color: white; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .searchContainer #entityOptions #noMoreMessage {
      display: block;
      text-align: center; }
  .searchContainer #loader {
    position: absolute;
    top: 280px;
    margin: auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid green;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    z-index: 999;
    opacity: 1; }

#tabModal #productsPreviewContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem 0; }
  #tabModal #productsPreviewContainer img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center; }
  #tabModal #productsPreviewContainer .product {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 300px; }
    #tabModal #productsPreviewContainer .product h3 {
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      text-align: center; }
    #tabModal #productsPreviewContainer .product .deleteProductButton {
      position: absolute;
      top: -19px;
      right: -7px;
      cursor: pointer; }
      #tabModal #productsPreviewContainer .product .deleteProductButton svg {
        width: 40px;
        color: red;
        pointer-events: none; }

#sortableCategories {
  max-width: 600px; }
  #sortableCategories .ui-sortable-handle {
    background: #1d2327;
    color: white; }
    #sortableCategories .ui-sortable-handle.ui-state-hover {
      background: #111111; }
    #sortableCategories .ui-sortable-handle.ui-state-active {
      border: 2px solid green; }
  #sortableCategories h2, #sortableCategories h4, #sortableCategories h5 {
    display: flex;
    align-items: center; }
  #sortableCategories h5 {
    padding: 0.5rem;
    margin: 0;
    border: 1px solid white;
    font-size: 16px;
    position: relative; }
  #sortableCategories h4 {
    font-size: 18px; }
  #sortableCategories h2 {
    font-size: 20px; }
  #sortableCategories ul li > div {
    background: #1d2327; }
  #sortableCategories .secondLevel,
  #sortableCategories .thirdLevel {
    padding: 0 2rem; }
  #sortableCategories .uploadImageButton {
    display: flex;
    margin-left: auto; }
    #sortableCategories .uploadImageButton:hover svg {
      color: green; }
    #sortableCategories .uploadImageButton svg {
      transition: 0.3s ease all;
      width: 24px; }
  #sortableCategories .previewImage {
    display: flex;
    margin-left: 0.5rem; }
    #sortableCategories .previewImage:hover svg {
      color: #2271b1; }
    #sortableCategories .previewImage svg {
      transition: 0.3s ease all;
      width: 24px; }
  #sortableCategories .removeImage {
    display: flex;
    margin-left: 0.5rem; }
    #sortableCategories .removeImage:hover svg {
      color: #dc3545; }
    #sortableCategories .removeImage svg {
      transition: 0.3s ease all;
      width: 24px; }

.previewImageModal {
  overflow: hidden !important; }
  .previewImageModal img {
    object-fit: contain;
    width: 100%;
    height: 100%; }

.productCount {
  position: absolute;
  right: -40px; }
  .productCount.full {
    color: green; }
  .productCount.empty {
    color: #dc3545; }

#reset {
  margin-top: 1rem;
  background: red !important; }

#priceMarginContainer .filterWrapper {
  margin-bottom: 1rem; }
  #priceMarginContainer .filterWrapper label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
#priceMarginContainer #marginForm .defaultMargin {
  width: 100px; }
#priceMarginContainer #feedMarginPriceList {
  width: 700px; }
  #priceMarginContainer #feedMarginPriceList .ui-state-active {
    border: 1px solid #1d2327;
    background: #1d2327; }
  #priceMarginContainer #feedMarginPriceList h2, #priceMarginContainer #feedMarginPriceList h3, #priceMarginContainer #feedMarginPriceList h4, #priceMarginContainer #feedMarginPriceList h5 {
    display: flex;
    align-items: center; }
    #priceMarginContainer #feedMarginPriceList h2 .setMarginsButton, #priceMarginContainer #feedMarginPriceList h3 .setMarginsButton, #priceMarginContainer #feedMarginPriceList h4 .setMarginsButton, #priceMarginContainer #feedMarginPriceList h5 .setMarginsButton {
      margin-left: auto;
      width: 24px;
      color: green; }
  #priceMarginContainer #feedMarginPriceList .setMarginsModal {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 700px;
    height: 500px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    background: white; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal label,
    #priceMarginContainer #feedMarginPriceList .setMarginsModal h1, #priceMarginContainer #feedMarginPriceList .setMarginsModal h2, #priceMarginContainer #feedMarginPriceList .setMarginsModal h3, #priceMarginContainer #feedMarginPriceList .setMarginsModal h4, #priceMarginContainer #feedMarginPriceList .setMarginsModal h5, #priceMarginContainer #feedMarginPriceList .setMarginsModal h6,
    #priceMarginContainer #feedMarginPriceList .setMarginsModal span {
      color: black; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal > h4 {
      font-size: 1.5rem;
      margin: 0;
      color: black; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal .closeFeedModal {
      color: red;
      width: 24px;
      position: absolute;
      top: 10px;
      right: 10px; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal input,
    #priceMarginContainer #feedMarginPriceList .setMarginsModal select {
      width: 100px; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal label {
      margin-right: 1rem; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal .removeFeedPriceMargin {
      width: 24px;
      color: red;
      margin-left: auto; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal > div {
      border-bottom: 2px solid #bbb;
      padding-bottom: 1rem;
      display: flex;
      align-items: center; }
    #priceMarginContainer #feedMarginPriceList .setMarginsModal .closeFeedModal {
      border-bottom: none;
      padding: 0; }
  #priceMarginContainer #feedMarginPriceList svg {
    pointer-events: none; }
  #priceMarginContainer #feedMarginPriceList .thirdLevelIem h5 {
    padding: 0.2rem 0.4rem;
    margin: 0;
    border: 1px solid #1d2327;
    font-size: 12px;
    position: relative; }

.hidden {
  display: none !important; }

#wpbody-content {
  min-height: 100vh; }

.preventScroll {
  overflow: hidden; }

.greenButton {
  padding: 0.5rem 2rem;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  background: green;
  cursor: pointer;
  width: max-content;
  font-size: 14px; }

.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: white;
  fill: #7ac142;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }

.checkmark {
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0 0 0 #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both; }

.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke: white;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; }

@keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }
@keyframes scale {
  0%, 100% {
    transform: none; }
  50% {
    transform: scale3d(1.1, 1.1, 1); } }
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142; } }
.noFlex {
  display: block !important; }

#tabModal {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 450px;
  height: 500px;
  overflow-y: auto;
  z-index: 10; }
  #tabModal form {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    #tabModal form label {
      display: flex;
      flex-direction: column; }
    #tabModal form button {
      width: max-content;
      margin: 0 auto; }

#tabOverlay {
  width: calc(100% + 20px);
  height: 100vh;
  position: fixed;
  background: black;
  top: 0;
  left: -20px;
  opacity: 0.4;
  z-index: 9; }

#closeModal {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.3rem;
  color: white; }
  #closeModal svg {
    width: 32px;
    color: red; }

/*# sourceMappingURL=style.css.map */
