/* Don't forget to bump css version when you make changes to this file
* it is located inside the MenuPage.php file in the function setupMainPage. Thank you <3
* */
@import '../../../src/Core/Dashboard/templates/css/mainPage';
@import '../../../src/Core/Dashboard/templates/css/featureOptionPage';
@import '../../../src/Core/Components/CrudTable/templates/css/crudTable';
@import '../../../src/Packages/BankReportParser/assets/css/bankReport';
@import '../../../src/Packages/WcCustomOrderStatus/assets/css/customOrderStatus';
@import '../../../src/Packages/WcOrderStatusFlow/assets/css/wcOrderStatusFlowPage';
@import '../../components/InputAjaxSearch/css/inputAjaxSearch';
@import '../../../src/Packages/ProductSlider/assets/css/productSlider';
@import '../../../src/Packages/MegaMenu/assets/css/sortableCategories';
@import '../../../src/Packages/FeedPriceMargin/assets/css/feedPriceMargin';

//@todo move to global scope
.hidden {
  display:none !important;
}

#wpbody-content {
  min-height:100vh;
}
.preventScroll {
  overflow: hidden;
}

.greenButton {
  padding:0.5rem 2rem;
  font-weight:bold;
  color:white;
  border:none;
  outline:none;
  background:green;
  cursor:pointer;
  width:max-content;
  font-size:14px;
}
.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: white;
  fill: #7ac142;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0 0 0 #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke:white;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.noFlex {
  display:block !important;
}
#tabModal {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%,-50%);
  padding: 1rem;
  width: 450px;
  height: 500px;
  overflow-y: auto;
  z-index:10;
  form {
    display: flex;
    flex-direction:column;
    gap:1rem;
    label {
      display:flex;
      flex-direction:column;
    }
    button {
      width:max-content;
      margin:0 auto;
    }
  }
}
#tabOverlay {
  width: calc(100% + 20px);
  height: 100vh;
  position: fixed;
  background: black;
  top: 0;
  left:-20px;
  opacity: 0.4;
  z-index:9;
}
#closeModal {
  cursor:pointer;
  position:absolute;
  top:0.5rem;
  right:0.5rem;
  padding:0.3rem;
  color:white;
  svg {
    width:32px;
    color:red;
  }
}
