#sortableCategories {
  max-width:600px;
  .ui-sortable-handle {
    background:#1d2327;
    color:white;
    &.ui-state-hover {
      background:#111111;
    }
    &.ui-state-active {
      border:2px solid green;
    }
  }
  h2,h4,h5 {
    display:flex;
    align-items:center;
  }
  h5 {
    padding:0.5rem;
    margin:0;
    border:1px solid white;
    font-size:16px;
    position:relative;
  }
  h4 {
    font-size:18px;
  }
  h2 {
    font-size:20px;
  }

  ul {
    li {
      &> div {
        background:#1d2327;
      }
    }
  }
  .secondLevel,
  .thirdLevel {
    padding: 0 2rem;
  }
  .uploadImageButton {
    display:flex;
    margin-left:auto;
    &:hover {
      svg {
        color:green;
      }
    }
    svg {
      transition:0.3s ease all;
      width:24px;
    }
  }
  .previewImage {
    display:flex;
    margin-left:0.5rem;
    &:hover {
      svg {
        color:#2271b1;
      }
    }
    svg {
      transition:0.3s ease all;
      width:24px;
    }
  }
  .removeImage {
    display:flex;
    margin-left:0.5rem;
    &:hover {
      svg {
        color:#dc3545;
      }
    }
    svg {
      transition:0.3s ease all;
      width:24px;
    }
  }
}
.previewImageModal {
  overflow:hidden !important;
  img {
    object-fit: contain;
    width: 100%;
    height:100%;
  }
}
.productCount {
  position:absolute;
  right: -40px;
  &.full {
    color:green;
  }
  &.empty {
    color:#dc3545;
  }
}

#reset {
  margin-top:1rem;
  background:red !important;
}
