#tabModal {
  #productsPreviewContainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1rem 0;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
      object-position: center;
    }
    .product {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width:300px;
      h3 {
        overflow: hidden;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: center;
      }

      .deleteProductButton {
        position: absolute;
        top: -19px;
        right: -7px;
        cursor:pointer;
        svg {
          width: 40px;
          color: red;
          pointer-events:none;
        }
      }
    }
  }
}