.searchContainer {
  max-width:250px;
  position:relative;
  .chevron {
    &::before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 8px;
      position: absolute;
      transform: rotate(135deg);
      vertical-align: top;
      width: 8px;
      right:35px;
      top:14px;
      pointer-events: none;
      color:green;
    }
  }
  label {
    display:block;
    margin-bottom:0.5rem;
  }
  input {
    border:1px solid green;
    width:98%;
    &:focus {
      outline:none;
    }
  }
  .nameInput {
    cursor:pointer;
    &.focused {
      outline:2px solid green;
    }
  }
  #entitySearchInput {
    margin:0.5rem 0;
    &:focus {
      border-color:green;
      outline-color:green;
    }
  }
  #entityOptions {
    scrollbar-width: 7px;
    scrollbar-color: green;
    position:absolute;
    z-index: 1;
    background: white;
    height:200px;
    width:100%;
    overflow-y:scroll;
    outline:1px solid green;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: white;        /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
      background-color: green;    /* color of the scroll thumb */
      border-radius: 1px;       /* roundness of the scroll thumb */
      /* border: 1px solid #000066;  *//* creates padding around scroll thumb */
    }
    .entityOption {
      padding:0.5rem;
      cursor:pointer;
      &:hover {
        background-color:green;
        color:white;
      }
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    #noMoreMessage {
      display:block;
      text-align:center;
    }
  }
  #loader {
    position:absolute;
    top:280px;
    margin:auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid green;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    z-index: 999;
    opacity: 1; }
}